/* 大螢幕 (桌機) */
@media (min-width: 1200px) {
    .banner-item {
        height: 500px;
    }

    .adbanner-img {
        height: 100px;
    }

    .banklist {
        height: 615px;
    }

}

/* 平板 */
@media (max-width: 1199px) and (min-width: 768px) {
    .banner-item {
        height: 300px;
    }

    .adbanner-img {
        height: 80px;
    }

    .banklist {
        height: 395px;
    }

}

/* 手機 */
@media (max-width: 767px) {
    .banner-item {
        height: 200px;
    }

    .adbanner-img {
        height: 50px;
    }

    .banklist {
        height: 200px;
    }

    .banklist-wrapper {
        /* overflow-x: auto; */
        /* 允許水平滾動 */
        /* white-space: nowrap; */
        /* 讓按鈕不換行 */
        /* -webkit-overflow-scrolling: touch; */
        /* 提升滾動體驗 */
    }

    .banklist-btn-list {
        /* display: flex; */
        /* flex-wrap: nowrap;
        gap: 10px; 讓按鈕有間距 */
    }
    .banklist-btn{
        width: 5vw;
        height: 2vw;
    }
}

.navbar {
    background-color: #E9FCFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav-img {
    max-height: 5vh;
}

.nav-link {
    font-weight: 700;
}

.nav-link:hover {
    color: #379BB5;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.adbanner-img {
    object-fit: cover;
}

.banklist {
    background: linear-gradient(165deg, rgba(86,213,226,1) 0%, rgba(55,155,181,1) 100%);
}

.banklist-wrapper{
    width: 100%;
    height: 80%;
}

.banklist-btn {
    background-color: #E9FCFF;
    width: 50%;
    height: 2vw;
}

.banklist-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banklist-more{
}

.creditcard-recommand{
    background-color: #fff;
}

.recommand-block{
}
.credit-img{
    height:150px;
    object-fit: contain;
}

.card{
    background-color: #fff;
}