
/* 大螢幕 (桌機) */
@media (min-width: 1200px) {
    .banner-item {
        height: 500px;
    }
    .adbanner-img {
        height: 100px;
    }   
    .banklist-bg{
        height: 30vw;
        max-height: 615px;
    }
    .bank-btn{
        width: 100%;
        height: 2.5vw;
    }
    
}

/* 平板 */
@media (max-width: 1199px) and (min-width: 768px) {
    .banner-item {
        height: 300px;
    }
    .adbanner-img {
        height: 80px;
    }
}

/* 手機 */
@media (max-width: 767px) {
    .banner-item {
        height: 200px;
    }
    .adbanner-img {
        height: 50px;
    }
}

.navbar{
    background-color: #E9FCFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.nav-img{
    max-height: 5vh;
}

.nav-link{
    font-weight: 700;
}

.nav-link:hover{
    color: #379BB5;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.adbanner-img {
    object-fit: cover;
}

.banklist-bg{
    background-color: #379BB5;
}

.banklist{
    backdrop-filter: inherit(180deg);
}

.list-group-item{
    background-color: #E9FCFF;
    width: 80%;
    height: 3vw;
}

.list-group-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

